* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-weight: bold;
    padding: 2rem;
}

h2 {
    padding: 1rem;
}

p {
    padding: 5px;
}


.espacamento {
    margin: 3rem;
}

.espacamento_horizontal {
    margin: 0px 5rem;
}

.espacamento_vertical {
    margin: 3rem 0px;
}


.negrito {
    font-weight: 600;
}