* {
    margin: 5px;
}

.barra{
    border-bottom: 2px solid black;
}

.questionario {
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}

.solicitacao {
    border: 2px dotted green;
    border-radius: 5px;
}

.formatacao {
    margin: 80px;
    padding: 10px;
}

.regiao {
    max-height: 100px;
    max-width: 500px;
}

.negrito {
    font-weight: 600;
}
